body {
  background-color: antiquewhite;
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: center; 
  padding-top: 26px;
}
.content {
  width: 343px;
  border: 1 solid black;
  display: flex;
justify-content: center;
  flex-direction: column;
  
}
img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  /* flex-shrink: 0; */
}

/* PAGRINDINIS */
.main {
  background: var(--Pure-White, #fff);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  /* flex-shrink: 0; */
}
.main p {
  font-size: 12px;
  margin: 0;
  margin-bottom: 12px;
  margin-top: 16px;

  
}
.perfume {
    color: var(--Aurometal-Saurus, #6C7289);
font-feature-settings: 'clig' off, 'liga' off;

/* Overline */
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 5px;
}
.description{
    color: var(--Aurometal-Saurus, #6C7289);
font-feature-settings: 'clig' off, 'liga' off;

/* Body */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 23px; /* 164.286% */
}

h1 {
  margin: 0;
  margin-bottom: 16px;

color: var(--Gunmetal, #1C232B);
font-feature-settings: 'clig' off, 'liga' off;

/* Display */
font-family: Fraunces;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 100% */
}

.description {
  /* border: 1px solid black; */
  margin: 0px;


}

/* PRICE */

.price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  margin-bottom: 20px;
}

.new_price{
    color: var(--Deep-Aquamarine, #3D8168);
font-feature-settings: 'clig' off, 'liga' off;

/* Display */
font-family: Fraunces;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 100% */
}

.old_price{
    color: var(--Aurometal-Saurus, #6C7289);
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 23px; /* 176.923% */
text-decoration-line: line-through;
}

/* ADD TO CHAT MYGTUKAS */

.mygtukas {
  border-radius: 8px;
  background: var(--Deep-Aquamarine, #3d8168);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: 48px;
}
.mygtukas p {
  margin: 0;
  color: var(--Pure-White, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* Button Text */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

@media screen and (min-width: 600px){
    /* body{
        background-color: chocolate;
    } */
    .wrapper{
        margin: auto;
      
        
    }
    .content {
        flex-direction: row;
        /* width: 600px; */
        /* flex-shrink: 0; */
        object-fit: cover;
        width: 600px;
    }
    img {
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
        border-top-right-radius: 0;
        /* flex-shrink: 1; */
        
      }
      .main {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5%;
        border-top-right-radius: 5%;
    }
}